<input #avatarInput type="file" accept="image/*" hidden (change)="onAvatarSelected($event)" />

<ion-header [translucent]="true">
  <ion-toolbar class="home-toolbar">
    <div class="identity-block">
      <button
        type="button"
        class="avatar-button"
        (click)="triggerAvatarPicker()"
        [disabled]="isUploadingAvatar"
      >
        <ion-avatar>
          <img *ngIf="clientAvatar; else defaultAvatar" [src]="clientAvatar" alt="Avatar del cliente" />
          <ng-template #defaultAvatar>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ng-template>
        </ion-avatar>
        <ion-icon class="camera-icon" name="camera-outline"></ion-icon>
        <ion-spinner
          *ngIf="isUploadingAvatar"
          class="avatar-spinner"
          name="crescent"
        ></ion-spinner>
      </button>
      <div class="identity-info">
        <p class="client-label">Cliente</p>
        <h2>
          <button type="button" class="client-name-button" routerLink="/profile">
            {{ clientName }}
          </button>
        </h2>
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button routerLink="/cart" fill="clear">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/historial" fill="clear">
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="filter-bar">
    <div>
      <p class="filter-label">Tipo seleccionado</p>
      <h3>{{ getTipoLabel(selectedTipo) }}</h3>
    </div>
    <ion-button id="tipoFilterTrigger" fill="outline" color="primary" size="small">
      <ion-icon slot="start" name="funnel-outline"></ion-icon>
      {{ getTipoLabel(selectedTipo) }}
    </ion-button>
  </section>

  <ion-popover trigger="tipoFilterTrigger" triggerAction="click" [dismissOnSelect]="true">
    <ng-template>
      <ion-content class="tipo-popover">
        <ion-list>
          <ion-item
            button
            detail="false"
            *ngFor="let tipo of tipos"
            (click)="selectTipo(tipo.value)"
          >
            <ion-label>{{ tipo.label }}</ion-label>
            <ion-icon
              slot="end"
              name="checkmark-outline"
              *ngIf="selectedTipo === tipo.value"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <div class="product-grid">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      (addToCart)="addToCart($event)"
      (goToDetail)="goToDetail($event)"
    ></app-product-card>
  </div>
</ion-content>
