@use '../components/_colors' as colors;

ion-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.offer-label {
  color: colors.$secondary;
  font-weight: 700;
  margin-left: 0.35rem;
}
