<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <h2>Bienvenido a LaTiendita</h2>
    <p>Inicia sesión o regístrate para continuar.</p>

    <ion-button expand="block" (click)="goLogin()">Iniciar sesión</ion-button>
    <ion-button class="register-btn" expand="block" fill="outline" (click)="goRegister()">Crear cuenta</ion-button>
    <ion-button class="guest-btn" expand="block" fill="solid" (click)="goGuest()">Entrar como visitante</ion-button>
  </div>
</ion-content>
